.title {
    // Step 1: <br/>Subscribe
    color: black;
    font-size: 30px;
    font-family: Nunito;
    font-weight: 700;
    line-height: 41.60px;
    word-wrap: break-word
}

.description {
    // Select a subscription plan that suits your child's learning needs and preferences.
    color: black;
    font-size: 16px;
    font-family: Nunito;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}

.rowGap {
    margin-bottom: 24px; /* Adjust the value as needed for the desired space */
  }