
.slogan {
  // Discover the magic of our surprise box
  color: white;
  font-size: 56px;
  font-family: Nunito;
  font-weight: 900;
  line-height: 67.20px;
  word-wrap: break-word;
  margin-top: 50px;
  text-align: center;
  width: 100%;
  display: flex;
}

.sloganLine {
  // Unleash your child's curiosity with our educational subscription box filled with fun and learning.
  color: white;
  font-size: 21px;
  font-family: Nunito;
  font-weight: 300;
  line-height: 36px;
  word-wrap: break-word;
  text-align: center;
}


.rowGap {
  margin-bottom: 24px; /* Adjust the value as needed for the desired space */
}

.centeredContent {
  display: flex;
  justify-content: center;
}

.stepper {
  background: url('../../assets/images/group.svg') no-repeat center center fixed;
  background-size: cover;
  background-color: #FFF9E6;
}

.grid {
  padding: 114px 64px;
}

.discoverText {
  // Discover
  color: black;
  font-size: 16px;
  font-family: Nunito;
  font-weight: 600;
  line-height: 24px;
  word-wrap: break-word
}

.stepperHeadline {
  // How It Works: Subscribe and Receive Your Surprise Box
  color: black;
  font-size: 48px;
  font-family: Nunito;
  font-weight: 700;
  line-height: 57.60px;
  word-wrap: break-word;
}

.stepperDescription {
  // Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a box filled with educational materials tailored to your child's age and interests.
  color: black;
  font-size: 24px;
  font-family: Nunito;
  font-weight: 400;
  line-height: 36px;
  word-wrap: break-word
}