<app-header></app-header>
<ion-content color="primary" [fullscreen]="true">

    <section>
        <ion-grid>
            <ion-row>
              <ion-col size-md="6" size-xs="12" offset-md="3">
                <ion-row class="rowGap">
                    <ion-text class="slogan">Discover the magic of our surprise box</ion-text>
                </ion-row>
                <ion-row class="rowGap">
                    <ion-text class="sloganLine">
                        Unleash your child's curiosity with our educational subscription box filled with fun and learning.
                    </ion-text>
                </ion-row>
                <ion-row class="ion-justify-content-center rowGap">
                    <app-button path="/subscription" content="Subscribe Now"></app-button>
                </ion-row>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="10" offset="1" class="ion-text-center ion-align-items-center">
                    <ion-img src="../../assets/images/home.svg" ></ion-img>
                </ion-col>
            </ion-row>
          </ion-grid>
    </section>

    <section class="stepper">
        <ion-grid class="grid">
            <ion-row class="ion-justify-content-center">
                <ion-text class="discoverText">Discover</ion-text>
            </ion-row>
            <ion-row class="ion-text-center">
                <ion-text class="stepperHeadline">How It Works: Subscribe and Receive Your Surprise Box</ion-text>
            </ion-row>
            <ion-row class="ion-text-center">
                <ion-text class="stepperDescription">Subscribe to our surprise subscription box and give your child the gift of learning. Each month, we curate a box filled with educational materials tailored to your child's age and interests</ion-text>
            </ion-row>
            <ion-row class="rowGap"></ion-row>
            <ion-row class="rowGap"></ion-row>
            <ion-row class="rowGap"></ion-row>
            <ion-row class="rowGap"></ion-row>
            <ion-row class="rowGap">
                <ion-col size-md="4" offset-md="0" size-xs="12" offset-xs="0">
                    <app-step-card
                    imgSrc="../../assets/images/subscribe.svg"
                    title="Step 1:"
                    secondTitle="Subscribe"
                    description="Select a subscription plan that suits your child's learning needs and preferences."
                    ></app-step-card>
                </ion-col>
                <ion-col size-md="4" offset-md="0" size-xs="12" offset-xs="0">
                    <app-step-card
                    imgSrc="../../assets/images/personalize.svg"
                    title="Step 2:"
                    secondTitle="Personalise Your Box"
                    description="Tell us about your child's age, interests, and learning goals, and we'll customize their surprise box accordingly."
                    ></app-step-card>
                </ion-col>
                <ion-col size-md="4" offset-md="0" size-xs="12" offset-xs="0">
                    <app-step-card
                    imgSrc="../../assets/images/recieve.svg"
                    title="Step 3:"
                    secondTitle="Receive Your Surprise Box"
                    description="Sit back and relax as your child eagerly awaits the arrival of their monthly surprise box filled with engaging learning materials."
                    ></app-step-card>
                </ion-col>
            </ion-row>
            <ion-row class="ion-justify-content-center">
                <app-button path="/subscription" content="Subscribe Now"></app-button>
            </ion-row>
        </ion-grid>
    </section>

    <section>
        <app-footer></app-footer>
    </section>
</ion-content>

